.choice--background{
   background-image: url(../img/Welcome.png);
   width: 100vw;
   height: 100vh;
   background-size: cover;
   transition: background-image .2s ease-in-out;
}

.choice--item{
    color: var(--text-color);
    text-decoration: none;
    font-family: 'Race sport', sans-serif;
    font-size: 6vw;
    width: 50vw;
    height: 100vh;
    text-align: center;
    position: absolute;
    line-height: 100vh;
}

.choice--loisir{
    left: 0;
}

.choice--academy{
    left: 50vw;
}

.choice--loisir:hover ~ .choice--background{
    background-image: url(../img/Welcome-loisir.png);
}

.choice--academy:hover ~ .choice--background{
    background-image: url(../img/Welcome-academy.png);
}