.choice{
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(45deg, var(--blue) 0%, var(--background) 40%, var(--dark-background) 50%, var(--background) 60%, var(--red) 100%);
}

.choice a{
    z-index: 10;
    position: relative;
}

.loisir, .academy{
    flex-grow: 1;
    overflow: visible;
}

.loisir img{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.academy img{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}



/* .loisir{
    background-image: url(../img/loisir.png);
    background-size: auto 100%;
    background-position: left center;
}
.academy{
    background-image: url(../img/academy.png);
    background-size: auto 100%;
    background-position: right center;
} */

@media (orientation: landscape){
    .choice{
        flex-flow: row nowrap;
    }
}

@media (orientation: portrait){
    .choice{
        flex-direction: column;
    }
}