.contact{
    position: relative;
}

iframe{
    width: 100%;
    height: 70.31vw;
}

.contact--details{
    position: absolute;
    width: 36.63vw;
    height: 38.54vw;
    background-color: red;
    top: 15.97vw;
    left: 9.84vw;
    border-radius: 10px;
    
    /* background: rgba(255, 255, 255, 0.1); */
    background: rgba(0, 0, 0, .8);
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(5px);
}

.contact-details--title{
    font-family: 'Race Sport', sans-serif;
    font-weight: 400;
    font-size: 2.89vw;
    text-align: center;
    color: var(--text-color);
    margin-top: 2vw;
}

.contact-details--description{
    font-family: 'Inter', sans-serif;
    font-size: 1.74vw;
    color: var(--text-color);
    width: 28.94vw;
    margin: 2vw auto;
}

.contact--social-media{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    width: 28.94vw;
    margin: 2vw auto;
}

.contact--social-media a:hover svg{
    width: 60px;
    height: 60px;
}

.contact--social-media svg{
    width: 50px;
    height: 50px;
    overflow: visible;
}

.contact--social-media .shadow{
    filter: drop-shadow(0px 0px 10px var(--blue));
}

.contact--social-media .blur{
    filter: blur(3px);
}