footer{
    height: 120px;
    padding: 50px 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer--social-media p{
    font-family: 'Inter', sans-serif;
    font-size: 1.74vw;
    color: var(--text-color);
    font-weight: 600;
}

.footer--social-media ul{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-between;
    margin-top: 1vw;
}

.footer--social-media a:hover svg{
    width: 5.47vw;
    height: 5.47vw;
}

.footer--social-media svg{
    width: 4.9vw;
    height: 4.9vw;
    overflow: visible;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer--social-media .shadow{
    filter: drop-shadow(0px 0px 10px var(--blue));
}

.footer--social-media .blur{
    filter: blur(3px);
}

.footer--nav p{
    font-family: 'Inter', sans-serif;
    font-size: 1.74vw;
    font-weight: 600;
    color: var(--text-color);
}

.footer--nav ul{
    list-style: none;
}

.footer--nav a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.4vw;
    color: var(--text-color);
}

.footer--resources p{
    font-family: 'Inter', sans-serif;
    font-size: 1.74vw;
    font-weight: 600;
    color: var(--text-color);
}

.footer--resources ul{
    list-style: none;
}

.footer--resources a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.4vw;
    color: var(--text-color);
}

footer a:hover{
    color: var(--blue);
}

@media screen and (max-width: 1024px){
    footer{
        padding: 50px 25px;
        flex-flow: row wrap;
    }

    .footer--social-media{
        padding: 0 35vw;
        margin-bottom: 5vw;
    }

    .footer--nav{
        margin-left: 25vw;
        padding-bottom: 50px;
    }

    .footer--resources{
        margin-right: 25vw;
        margin-bottom: 50px;
    }
}