.numbers{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 40vw;
    background-image: url("../img/tire track.png");
    background-size: 200%;
    background-position: 80% center;
}

.numbers--icon{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers--icon svg{
    width: 9.72vw;
    overflow: visible;
}

.numbers--icon svg .shadow{
    filter: drop-shadow(0px 0px 10px var(--blue));
}

.numbers--icon svg .blur{
    filter: blur(3px);
}

.numbers--circuit{
    margin-top: 10vw;
}

.numbers--permis{
    margin-top: 12vw;
}

.numbers--motorbike{
    margin-top: 16vw;
}

.numbers--age{
    margin-top: 19vw;
}

.numbers--description-icon{
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.45vw;
}