.partners{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10vw;
    padding: 25px 50px;
    background-color: white
}

.partners--title{
    font-family: 'Race Sport', sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 6.37vw;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
}

.partners img{
    height: 100px;
}

@media screen and (max-width: 900px){
    .partners{
        flex-direction: column;
    }

    .partners img{
        justify-content: center;
        margin: auto;
    }
}