.pictures{
    padding: 4vw 0;
    background-color: var(--background);
    position: relative;
}

.pictures--title{
    font-family: 'Race Sport', sans-serif;
    font-weight: 400;
    font-size: 6.37vw;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
}

.pictures--tagline{
    font-family: 'Inter', sans-serif;
    font-size: 1.04vw;
    text-align: center;
    color: var(--text-color);
    margin-top: -2vw;
    margin-bottom: 4vw;
}

.pictures--gallery{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 25px;
}

.pictures--gallery div{
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
}

.pictures--gallery div img{
    height: 100%;
}