.prices{
    position: relative;
}

.prices--blue-circle{
    position: absolute;
    width: 42.24vw;
    height: 31.12vw;
    left: 40vw;
    top: 11.92vw;
    
    background: rgba(54, 176, 224, 0.69);
    filter: blur(500px);
    opacity: .5;
}

.prices--yellow-circle{
    position: absolute;
    width: 42.24vw;
    height: 31.12vw;
    left: 40vw;
    top: 11.92vw;
    
    background: var(--yellow);
    filter: blur(500px);
    opacity: .2;
}

.prices--red-circle{
    position: absolute;
    width: 42.26vw;
    height: 31.12vw;
    left: 17.25vw;
    top: 26.39vw;
    
    background: rgba(255, 0, 0, 0.29);
    filter: blur(500px);
    opacity: .8;
}

.prices--title{
    font-family: 'Race Sport', sans-serif;
    font-weight: 400;
    font-size: 6.37vw;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
}

.prices--tagline{
    font-family: 'Inter', sans-serif;
    font-size: 1.04vw;
    text-align: center;
    color: var(--text-color);
    margin-top: -2vw;
}

.prices--cards-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 4vw 0;
}

.prices--card{
    width: 18.23vw;
    height: 46.12vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.prices--card:nth-child(1) td, .prices--card:nth-child(2) td, .prices--card:nth-child(3) td{
    padding: .12vw 0;
}

.prices--card-academy{
    width: 23vw;
    height: 50.12vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.card--title{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.99vw;
    text-align: center;
    color: var(--text-color);
    margin-top: 1.85vw;
}

.prices--card-academy .card--title{
    font-size: 2.5vw;
}

.card--explication{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 0.93vw;
    text-align: center;
    color: #A7A7AD;
}

.prices--card:nth-child(4) .card--explication{
    padding: 0 .8vw;
}

.prices--card-academy .card--explication{
    font-size: 1.2vw;
}

.card--price{
    display: flex;
    flex-flow: row nowrap;
    
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    
    color: var(--text-color);
    justify-content: center;
    margin: .93vw 0;
}

.card--price p:nth-child(1), .card--price p:nth-child(3){
    font-weight: 400;
    font-size: .93vw;
}

.prices--card-academy .card--price p:nth-child(1), .prices--card-academy .card--price p:nth-child(3){
    font-size: 1.5vw;
}

.card--price p:nth-child(1){
    margin-right: .5vw;
}

.card--price p:nth-child(2){
    font-size: 4.34vw;
    line-height: 4.34vw;
}

.prices--card-academy .card--price p:nth-child(2){
    font-size: 4.94vw;
    line-height: 4.94vw;
}

.card--price p:nth-child(3){
    align-self: flex-end;
    margin-bottom: .5vw;
    margin-left: .5vw;
}

.card--driving-licence{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.56vw;
    text-align: center;
    text-transform: uppercase;
    color: var(--blue);
}

.prices--card-academy .card--driving-licence{
    font-size: 2.1vw;
    color: var(--yellow);
}

.card--button{
    width: 8.39vw;
    height: 2.89vw;
    
    background: var(--background);
    border-radius: 3vw;
    border: none;
    
    font-family: 'Inter', sans-serif;
    font-size: 1.27vw;
    font-weight: 200;
    text-align: center;
    
    color: var(--text-color);
    margin-left: 4.92vw;
    margin-top: 1.16vw;
    transition: 0.5s ease;
}

.card--button:hover{
    cursor: pointer;
    text-shadow: 0 0 5px var(--text-color),
    0 0 10px var(--text-color),
    0 0 20px var(--text-color);
    
    box-shadow: 0 0 5px black,
    0 0 20px var(--blue),
    0 0 50px var(--blue),
    0 0 100px var(--blue);
}

.prices--card-academy .card--button:hover{
    box-shadow: 0 0 5px black,
    0 0 20px var(--yellow),
    0 0 50px var(--yellow),
    0 0 100px var(--yellow);
}

.prices--card-academy .card--button{
    width: 12.5vw;
    height: 4vw;
    
    font-size: 1.87vw;
    margin-left: 5.25vw;
}

.card--table{
    font-family: 'Inter', sans-serif;
    font-size: 1.27vw;
    
    color: var(--text-color);
    border-collapse: collapse;
    
    width: 80%;
    margin: 2vw auto 4.6vw auto;
}

.prices--card-academy .card--table{
    margin: 2vw auto;
    font-size: 1.5vw;
}

.card--table td{
    border-bottom: 1px solid var(--text-color);
}

.card--table td:last-child{
    text-align: right;
}

.card--table tr:last-child td{
    border: none;
}

.card--table-caption{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: .64vw;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    color: #A7A7AD;
}

.card--include{
    width: 80%;
    margin: 0 auto;
    
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: .94vw;
    
    color: var(--text-color);
    list-style: none;
    margin-bottom: 2.31vw;
}

.prices--card-academy .card--include{
    font-size: 1.1vw;
}

.card--include li{
    position: relative;
    margin-left: 1.2vw;
}

.card--include li::before{
    content: "";
    position: absolute;
    top: .2vw;
    left: -1.2vw;
    background-image: url(../img/include.svg);
    background-size: 1vw;
    background-repeat: no-repeat;
    width: 1vw;
    height: 1vw;
}

.card--location{
    
    font-family: 'Inter', sans-serif;
    font-size: .94vw;
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
    color: var(--text-color);
    
    border-top: 1px solid var(--text-color);
    padding-top: 1vw;
    justify-content: center;
}

.prices--card-academy .card--location{
    font-size: 1.1vw;
}

.prices--card:nth-child(4) .card--driving-licence{
    margin-top: .6vw;
}

.prices--card:nth-child(3) .card--table{
    margin-bottom: 3vw;
}

.prices--card:nth-child(4) .card--table{
    margin-bottom: 0;
}

.prices--card:nth-child(4) .card--table-caption{
    margin-bottom: .5vw;
}

.prices--global-details{
    font-family: 'Inter', sans-serif;
    font-size: 1.04vw;
    text-align: center;
    color: var(--text-color);
}

.prices--global-details p{
    margin-bottom: 1vw;
}

.prices--global-details p span{
    font-size: 2vw;
    font-weight: bold;
}

@media screen and (max-width: 1024px){
    .prices--cards-row{
        flex-flow: row wrap;
    }

    .prices--card:nth-child(1), .prices--card:nth-child(3){
        margin-left: 18vw;
    }

    .prices--card:nth-child(2), .prices--card:nth-child(4){
        margin-right: 18vw;
    }

    .prices--card:nth-child(1), .prices--card:nth-child(2){
        margin-bottom: 25px;
    }
}